Body {
    background-color: #666666;
    background-image: url('https://www.shutterstock.com/image-illustration/dark-hall-bright-white-neon-600nw-1806454282.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
};


.header_Left {
    grid-column: 1;
    text-align: center;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    margin-left: 10%;
}

.header_Center {
    grid-column: 2;
    text-align: center;
    padding: 1%;
}
  
.header_Right {
    grid-column: 3;
    text-align: center;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    margin-right: 10%;
}

#section_Game {
    margin-bottom: 7%;
}